$azul-oscuro: hsl(209, 23%, 22%);
$azul-muy-oscuro-dark: hsl(207, 26%, 17%);
$azul-muy-oscuro-light: hsl(200, 15%, 8%);
$gris-oscuro-light: hsl(0, 0%, 52%);
$gris-claro-light: hsl(0, 0%, 98%);
$blanco: hsl(0, 0%, 100%);

